.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ecf5fa;
  padding: 3em 5em;
}

.services section {
  display: flex;
  align-items: center;
}

.services h1 {
  font-size: 2.5em;
  margin: 1em;
  color: #1a1a1a;
}

.services h1 span,
.services h2 span {
  color: #1597e5;
}

.services h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.services p {
  font-size: 1.1em;

  font-weight: 400;
}

.services .text {
  /* width: 100%; */
  flex: 1;
  margin-right: 2em;
}
.services .image {
  /* width: 100%; */
  flex: 1.2;
  height: 350px;
}

.services .image img {
  width: 100%;
  height: 100%;
}

/* .services .image .overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.85;
} */
